/* @import './base.css'; */

:root {
    --primary-color: #f24679;
    --secondary-color: #ba2c3c;
    --white-color: #FFFFFF;
}

#app {
    font-family: Helvetica, sans-serif;
}
html{
    background: var(--primary-color);
}
* {
    color: var(--white-color);
}
